<ol class="breadcrumb">
  <li *ngFor="let segment of segments|slice:0:-1">
    <a class="breadcrumb-item" [routerLink]="[segment.routerLink, segment.routerParams]">{{segment.label}}</a>
  </li>
  <li class="breadcrumb-item active" *ngFor="let segment of segments|slice:segments.length-1">
    {{segment.label}}
  </li>
</ol>
