<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div>
  <a [routerLink]="['/descriptor']" class="btn btn-default" role="button">New Application</a>
  <span *ngIf="isLoading">
    &nbsp;&nbsp;&nbsp;Loading...&nbsp;&nbsp;&nbsp;<span style="font-size: 1em;" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
  </span>
  <br><br>
  <ng-template ngFor let-namespace [ngForOf]="items.keys()">
    <div *ngIf="items.get(namespace).size > 0" class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" class="collapsed" href="#collapse-ns-{{namespace}}">
            Namespace: {{namespace}}
          </a>
        </h5>
      </div>
      <div id="collapse-ns-{{namespace}}" [ngClass]="getNamespacePanelClass(namespace)">
        <div class="panel-body">
          <div *ngFor="let appName of items.get(namespace).keys()" class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" class="collapsed" href="#collapse-app-{{namespace}}-{{appName}}">
                  Application: {{appName}}
                </a>
              </h6>
            </div>
            <div id="collapse-app-{{namespace}}-{{appName}}" [ngClass]="getApplicationPanelClass(namespace, appName)">
              <div class="panel-body">

                <!--<a (click)="onPurge(namespace, appName)" class="btn btn-danger pull-right">Purge Application</a>-->

                <h3>Descriptors</h3>
                <a [routerLink]="['/descriptor', { namespace: namespace, appName: appName }]" class="btn btn-default">New Descriptor</a><br>

                <table class="table table-condensed table-hover">
                  <thead>
                  <tr>
                    <th width="30%">Last Modified</th>
                    <th width="10%">Version</th>
                    <th width="60%">
                      <a (click)="onDeleteAllDescriptors(namespace, appName)" class="btn btn-warning pull-right">Delete all old descriptors</a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let descriptor of items.get(namespace).get(appName).get(DESCRIPTORS); let descriptorIndex = index">
                    <td>{{descriptor.lastModified | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                    <td>{{descriptor.newVersion}}</td>
                    <td>
                      <a [routerLink]="['/descriptor', { namespace: namespace, appName: appName, id: descriptor.id }]" class="btn btn-default">Details</a>
                      <a *ngIf="descriptorIndex !== 0" (click)="onDeleteDescriptor(descriptor)"
                         class="btn btn-warning">Delete</a>
                    </td>
                  </tr>
                  </tbody>

                </table>

                <h3>Deployments</h3>

                <table class="table table-condensed table-hover">
                  <thead>
                  <tr>
                    <th width="30%">Last Modified</th>
                    <th width="10%">Version</th>
                    <th width="30%">Status</th>
                    <th width="30%">
                      <a (click)="onDeleteAllDeployments(namespace, appName)" class="btn btn-warning pull-right">Delete all undeployed / failed deployments</a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let deployment of items.get(namespace).get(appName).get(DEPLOYMENTS)"
                      [class.success]="deployment.status === 'DEPLOYED'"
                      [class.danger]="deployment.status === 'FAILURE'">
                    <td>{{deployment.lastModified | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                    <td>{{deployment.version}}</td>
                    <td>{{deployment.status}}</td>
                    <td>
                      <a [routerLink]="['/deployment', { namespace: namespace, appName: appName, id: deployment.id }]"
                         class="btn btn-default">Details</a>
                      <a *ngIf="deployment.status !== 'DEPLOYED' && deployment.status !== 'DEPLOYING'" (click)="onDeleteDeployment(deployment)"
                         class="btn btn-warning">Delete</a>
                    </td>
                  </tr>
                  </tbody>

                </table>

                <a (click)="onLoadAllDeployments(namespace, appName)" class="btn btn-default">Load All</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template >
</div>

<confirm-dialog></confirm-dialog>
<wait-dialog></wait-dialog>


