<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="deployment">

  <div class="form-horizontal" role="form">

    <div class="row">
      <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-heading">Deployment Details</div>
          <div class="panel-body">

            <div class="form-group">
              <label class="control-label col-sm-4">Namespace</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                  {{deployment.descriptor.namespace}}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4">Application Name</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                  {{deployment.descriptor.appName}}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4">Deployment Version</label>
              <div class="col-sm-8">
                <p *ngIf="deployment.version !== '000'" class="form-control-static">
                  {{deployment.version}}
                </p>
                <p *ngIf="deployment.version === '000'" class="form-control-static">
                  not determined yet...
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4">Status</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                  {{deployment.status}}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4">Last Modified</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                  {{deployment.lastModified | date: 'yyyy/MM/dd HH:mm:ss'}}
                </p>
              </div>
            </div>

            <div *ngIf="deployment.descriptor.frontend" class="form-group">
              <label class="control-label col-sm-4">Frontend URL</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                  <a href="https://{{deployment.descriptor.frontend}}" target="_blank">{{deployment.descriptor.frontend}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-danger" type="button"
                    [disabled]="deployment.status !== 'DEPLOYED'"
                    (click)="onUndeploy()">
              Undeploy
            </button>

            <button class="btn btn-warning" type="button"
                    [disabled]="deployment.status !== 'UNDEPLOYED' && deployment.status !== 'FAILURE'"
                    (click)="onDelete()">
              Delete
            </button>

            <button class="btn btn-info pull-right" type="button"
                    [disabled]="deployment.status !== 'DEPLOYED' && deployment.status !== 'UNDEPLOYED'"
                    (click)="onRedeploy()">
              Redeploy
            </button>

          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-default" type="button"
                    (click)="onShowDescriptor()">
              Show descriptor
            </button>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-heading">Logs</div>
          <div class="panel-body">

            <div>
              <i>Note: These logs are from the deployer and were stored during deployment, and should
                only be used to debug deployment issues. They doe <b>not</b> show current logs of an
                active deployment. Use the Dashboard for that type of monitoring.</i><br><br>
            </div>

            <textarea *ngIf="logs" #logView rows="20" class="form-control" readonly>{{logs}}</textarea>

            <div *ngIf="!logs">
              no logs available (yet)
            </div>

            <div *ngIf="isBusy" style="position: relative; width: 100%; height: 0">
              <div style="width: 100%; text-align: center; position: absolute; top: -200px">
                <span class="glyphicon glyphicon-refresh glyphicon-spin"
                      style="font-size: 8em; opacity: 0.1;" ></span>
              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Healthcheck Data</div>
          <div class="panel-body">
            <div>
              <i>Note: This health check data was stored during deployment, and should only be used to debug
                deployment issues. It does <b>not</b> represent the current health of an active deployment.
                Use the Dashboard for that type of monitoring.</i>
            </div>
            <div *ngFor="let pod of healthData">
              <h5>Pod: {{pod.podName}}</h5>
              <textarea id="health" rows="20" class="form-control" readonly>{{pod.value}}</textarea>
            </div>
            <div *ngIf="!healthData || healthData.length === 0">
              <br>no healthcheck data available (yet)
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<div *ngIf="!deployment">
  Deployment not found, please go back to list...
</div>
