<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="descriptor">

  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modaldialog"
              data-backdrop="static" data-keyboard="false"
              (click)="onShow()">
        {{ fromDeployment ? 'Show' : 'Edit' }} in text mode
      </button>
    </div>
    <div class="col-sm-6">
      <button (click)="refreshNamespaces()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-refresh"></span>
        Refresh Namespaces
      </button>
      <button (click)="refreshImages()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-refresh"></span>
        Refresh Images
      </button>
    </div>
  </div>

  <br>

  <form class="form-horizontal" role="form" [formGroup]="form">

    <div class="row">
      <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-heading">Descriptor Details</div>
          <div class="panel-body">

            <div class="form-group">
              <label for="namespace" class="control-label col-sm-4">Namespace</label>
              <div class="col-sm-8">
                <select *ngIf="isNew" id="namespace" class="form-control"
                        [(ngModel)]="descriptor.namespace" (ngModelChange)="onNamespaceSelected(true)"
                        formControlName="namespace" required>
                  <option *ngFor="let namespace of namespaces" [ngValue]="namespace">{{namespace}}</option>
                </select>
                <input *ngIf="!isNew" id="namespace" type="text" class="form-control"
                       [ngModel]="descriptor.namespace"
                       formControlName="namespace" readonly>
              </div>
            </div>

            <div formGroupName="combinedName">
              <div class="form-group">
                <label for="name" class="control-label col-sm-4">Application Name</label>
                <div class="col-sm-8">
                  <input id="name" type="text" class="form-control" [readonly]="!isNew"
                         [(ngModel)]="descriptor.appName"
                         validateDns allowHashAndNumber="false"
                         validateCombinedLength otherInput="combinedName.version"
                         formControlName="name" required trim>
                  <div *ngIf="form.get('combinedName.name').hasError('validateDns')" class="alert alert-danger">
                    not a DNS compatible name (lowercase letters, no leading numbers, no leading or trailing dashes
                    only)
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="version" class="control-label col-sm-4">Deployment Version</label>
                <div class="col-sm-8">
                  <input id="version" type="text" class="form-control"
                         [(ngModel)]="descriptor.newVersion"
                         validateDns allowHashAndNumber="true"
                         validateCombinedLength otherInput="combinedName.name" maxLength="24"
                         formControlName="version" required trim [readonly]="fromDeployment">
                  <div *ngIf="form.get('combinedName.version').hasError('validateCombinedLength')"
                       class="alert alert-danger">
                    Name + Version must not be longer than 24 chars
                  </div>
                  <div *ngIf="form.get('combinedName.version').hasError('validateDns')" class="alert alert-danger">
                    not a DNS compatible version (lowercase letters, numbers, no leading or trailing dashes only)
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="replicas" class="control-label col-sm-4">Replicas</label>
              <div class="col-sm-2">
                <input id="replicas" type="number" class="form-control" [readonly]="fromDeployment"
                       [(ngModel)]="descriptor.replicas" formControlName="replicas" required style="width: 80px;">
              </div>
            </div>

            <div class="form-group">
              <label for="pullsecret" class="control-label col-sm-4">Image Pull Secret</label>
              <div class="col-sm-8">
                <select id="pullsecret" class="form-control" [disabledCondition]="fromDeployment"
                        [(ngModel)]="selectedSecret" (ngModelChange)="onSecretSelected()" formControlName="pullsecret">
                  <option selected></option>
                  <option *ngFor="let secret of secrets" [ngValue]="secret">{{secret.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                  <input id="createVolume" type="checkbox" [disabledCondition]="fromDeployment"
                         [(ngModel)]="createVolume" (ngModelChange)="onCreateVolumeChanged()"
                         formControlName="createVolume">
                  <label for="createVolume" class="control-label">Create shared empty directory</label>
                  <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
                     title="Shared empty directory"
                     data-content="If enabled, an empty directory will be created for the deployment, which can be mapped
                      into a container during runtime, at a path specified for each container.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Proxy Frontend Configuration</div>
          <div class="panel-body">
            <div formGroupName="expose">
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <div class="checkbox">
                    <input id="exposeToFrontend" type="checkbox" [disabledCondition]="fromDeployment"
                           [(ngModel)]="exposeToFrontend" (ngModelChange)="onFrontendChanged()"
                           validateCheckboxInput input="expose.exposeUrl"
                           formControlName="exposeToFrontend">
                    <label for="exposeToFrontend" class="control-label">Expose as external HTTPS service</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exposeUrl" class="control-label col-sm-4">External URL</label>
                <div class="col-sm-8">
                  <input id="exposeUrl" type="text" class="form-control" [disabledCondition]="!exposeToFrontend" [readonly]="fromDeployment"
                         [(ngModel)]="descriptor.frontend"
                         validateCheckboxInput checkbox="expose.exposeToFrontend"
                         validateNoProtocol
                         formControlName="exposeUrl" trim>
                  <div *ngIf="form.get('expose.exposeUrl').hasError('validateNoProtocol')" class="alert alert-danger">
                    URL must not contain the protocol (e.g. https://)
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                  <input id="redirectWww" type="checkbox"
                         [(ngModel)]="descriptor.redirectWww"
                         formControlName="redirectWww" [disabledCondition]="fromDeployment">
                  <label for="redirectWww" class="control-label">Redirect www subdomain</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Proxy Backend Configuration</div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                  <input id="useCompression" type="checkbox" [disabledCondition]="fromDeployment"
                         [(ngModel)]="descriptor.useCompression" formControlName="useCompression">
                  <label for="useCompression" class="control-label">Use gzip compression</label>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="isInDevEnv()">
              <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                  <input id="useStickySessions" type="checkbox" [disabledCondition]="fromDeployment"
                         [(ngModel)]="descriptor.useStickySessions" formControlName="useStickySessions">
                  <label for="useStickySessions" class="control-label">Use sticky sessions</label>
                  <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
                     title="Sticky sessions"
                     data-content="If enabled and multiple replicas are used, the proxy will use cookie based sticky sessions.">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>

                </div>
              </div>
            </div>

            <httpheader *ngFor="let header of descriptor.additionHttpHeaders"
                     [header]="header" [parentForm]="form" [fromDeployment]="fromDeployment"
                     (deleted)="onHeaderDeleted(webhook)"></httpheader>
            <div *ngIf="!fromDeployment" class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-default" (click)="addHeader()">Add custom HTTP header</button>
                <br>
              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Webhooks</div>
          <div class="panel-body">

            <webhook *ngFor="let webhook of descriptor.webhooks"
                     [descriptor]="descriptor" [webhook]="webhook" [fromDeployment]="fromDeployment"
                     [isNew]="isNew" [index]="index + 1" [parentForm]="form"
                     (deleted)="onWebhookDeleted(webhook)"></webhook>

            <div *ngIf="!fromDeployment" class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-default" (click)="addWebhook()">Add Webhook</button>
                <br>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <button *ngIf="!fromDeployment" class="btn btn-warning" type="button"
                    [disabled]="isNew"
                    (click)="onDelete()">
              Delete
            </button>

            <div *ngIf="!fromDeployment" class="pull-right">
              <button class="btn btn-primary" type="button"
                      [disabled]="!form.valid"
                      (click)="onSave()">
                Save
              </button>
            </div>

            <button *ngIf="!fromDeployment" class="btn btn-info pull-right" type="button"
                    [disabled]="!form.valid"
                    (click)="onDeploy()">
              Save & Start deployment
            </button>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <docker-container *ngFor="let container of descriptor.podspec.containers, let i = index"
                          [descriptor]="descriptor" [container]="container" [fromDeployment]="fromDeployment"
                          [isNew]="isNew" [index]="i + 1" [parentForm]="form"
                          (deleted)="onContainerDeleted(container)"
                          [refreshImagesNotifier]="refreshImagesNotifier"
                          [refreshVolumeNotifier]="refreshVolumeNotifier"></docker-container>

        <div *ngIf="!fromDeployment" class="form-group">
          <div class="col-sm-12">
            <button type="button" class="btn btn-default" (click)="addContainer()">Add Container</button>
            <br>
          </div>
        </div>

      </div>

    </div>

  </form>

  <!-- modal dialog -->
  <div id="modaldialog" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{modaldialogTitle}}</h4>
          <br>
          <div *ngIf="modaldialogAlert" class="alert alert-danger">
            {{modaldialogAlert}}
          </div>
        </div>
        <div class="modal-body text-center">
          <form role="form" [formGroup]="dialogForm">
            <textarea id="modaldialogTextarea" rows="20" class="form-control" [readonly]="!modaldialogEditable"
                      [(ngModel)]="modaldialogContent" formControlName="modaldialog"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="onCancelDescriptor()" type="button" class="btn btn-default"
                  data-dismiss="modal">{{ modaldialogEditable ? "Cancel" : "Close" }}</button>
          <button *ngIf="modaldialogEditable" [disabled]="!modaldialogValid" (click)="onApplyDescriptor()" type="button"
                  class="btn btn-default" data-dismiss="modal">Apply</button>
        </div>
      </div>

    </div>
  </div>

</div>

<div *ngIf="!descriptor">
  Descriptor not found, please go back to descriptor list...
</div>
