<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="env">

  <form class="form-horizontal" role="form" [formGroup]="form">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group">
          <label for="name" class="control-label col-sm-4">Key</label>
          <div class="col-sm-8">
            <input id="name" type="text" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="env.name"
                   validateCIdent
                   formControlName="name" required trim>
            <div *ngIf="form.get('name').hasError('validateCIdent')" class="alert alert-danger">
              invalid name, only characters, not leading numbers, and underscores allowed!
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="value" class="control-label col-sm-4">Value</label>
          <div class="col-sm-8">
            <input id="value" type="text" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="env.value" formControlName="value">
          </div>
        </div>

        <div *ngIf="!fromDeployment" class="col-sm-offset-4 col-sm-8">
          <button type="button" class="btn btn-default" (click)="removeThis()">Remove Variable</button>
        </div>

      </div>
    </div>
  </form>


</div>

<div *ngIf="!env">
  Error: no Env!
</div>
