<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="port && port.name != healthCheckPortName">

  <form class="form-horizontal" role="form" [formGroup]="form">

    <div class="panel panel-default">
      <div class="panel-heading">Port #{{index}}</div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name" class="control-label col-sm-4">Name</label>
          <div class="col-sm-8">
            <input id="name" type="text" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="port.name"
                   validateDns allowHashAndNumber="false"
                   formControlName="name" required trim>
            <div *ngIf="form.get('name').hasError('validateDns')" class="alert alert-danger">
              not a DNS compatible name (lowercase letters, no leading numbers, no leading or trailing dashes only)
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="port" class="control-label col-sm-4">Container Port</label>
          <div class="col-sm-8">
            <input id="port" type="number" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="port.containerPort"
                   validatePort
                   formControlName="port" required
                   (change)="configureReadiness()">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
              <input id="useReadiness" type="checkbox" [disabledCondition]="fromDeployment"
                     [(ngModel)]="useReadiness" formControlName="useReadiness" (change)="configureReadiness()">
              <label for="useReadiness" class="control-label">Use for readiness check</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="readinessPath" class="control-label col-sm-4">Readiness check path</label>
          <div class="col-sm-8">
            <input id="readinessPath" class="form-control" [readonly]="fromDeployment || !useReadiness"
                   [(ngModel)]="readinessPath" formControlName="readinessPath" (change)="configureReadiness()">
          </div>
        </div>


        <div *ngIf="!fromDeployment" class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-default" (click)="removeThis()">Remove Port</button>
            <br>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

<div *ngIf="!port">
  Error: no Port!
</div>
