<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="container">

  <form class="form-horizontal" role="form" [formGroup]="form" autocomplete="off">

    <div class="panel panel-default">
      <div class="panel-heading">Container #{{index}}</div>
      <div class="panel-body">
        <div class="form-group">
          <label for="containername" class="control-label col-sm-4">Name</label>
          <div class="col-sm-8">
            <input id="containername" type="text" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="container.name"
                   validateDns allowHashAndNumber="false"
                   formControlName="containername" required trim>
            <div *ngIf="form.get('containername').hasError('validateDns')" class="alert alert-danger">
              not a DNS compatible name (lowercase letters, no leading numbers, no leading or trailing dashes only)
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="image" class="control-label col-sm-4">Image</label>
          <div class="col-sm-8">

            <input id="image" class="form-control"
                   [(ngModel)]="selectedRepositoryName" (ngModelChange)="onRepositorySelected()" formControlName="image"
                   [typeahead]="repositories" [typeaheadOptionField]="'fullname'" [typeaheadMinLength]="1"
                   required trim [readonly]="fromDeployment">

          </div>

          <label for="tag" class="control-label col-sm-4">Tag</label>
          <div class="col-sm-8">

            <input id="tag" class="form-control"
                   [(ngModel)]="selectedTagName" (ngModelChange)="onTagSelected()" formControlName="tag"
                   [typeahead]="selectedRepository?.tags" [typeaheadOptionField]="'fullname'" [typeaheadMinLength]="1"
                   required trim [readonly]="fromDeployment">

          </div>

          <!--
          <label class="control-label col-sm-4">Full Imagename</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" readonly="readonly" [ngModel]="container.image" formControlName="imagetag">
          </div>
          -->
        </div>

        <!--
        <div class="form-group">
          <label for="pullpolicy" class="control-label col-sm-4">Pull Policy</label>
          <div class="col-sm-8">
            <select id="pullpolicy" class="form-control" [disabledCondition]="fromDeployment"
                    [(ngModel)]="container.imagePullPolicy" formControlName="pullpolicy" required>
              <option *ngFor="let policy of pullPolicies" [ngValue]="policy.value">{{policy.value}}</option>
            </select>
          </div>
        </div>
        -->

        <div class="form-group">
          <div class="col-sm-4 control-label">
            <label for="cpurequest">CPU Request</label>
            <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
               title="CPU Resource Request"
               data-content="Specify the expected CPU consumption of this container, measured in (Milli-)CPUs. This value
                                will be used for scheduling the application on a node with enough CPU resources.
                                1 CPU translates roughly to 1 hyperthreaded core, and 333 Milli-CPUs translate roughly to 33% of a hyperthreaded core.">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </div>
          <div class="col-sm-3">
            <input id="cpurequest" type="number" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="cpurequest" (ngModelChange)="updateRequests()" formControlName="cpurequest" required>
          </div>
          <div class="col-sm-3">
            <select id="cpurequestUnit" class="form-control" [disabledCondition]="fromDeployment"
                    [(ngModel)]="cpurequestUnit" (ngModelChange)="updateRequests()" formControlName="cpurequestUnit">
              <option *ngFor="let unit of cpuUnits" [ngValue]="unit.value">{{unit.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 control-label">
            <label for="cpulimit">CPU Limit</label>
            <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
               title="CPU Resource Limit"
               data-content="Specify the maximum CPU consumption of this container, measured in (Milli-)CPUs. Exceeding this value
                                might result in a restart of the application.
                           1 CPU translates roughly to 1 hyperthreaded core, and 333 Milli-CPUs translate roughly to 33% of a hyperthreaded core.">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </div>
          <div class="col-sm-3">
            <input id="cpulimit" type="number" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="cpulimit" (ngModelChange)="updateLimits()" formControlName="cpulimit" required>
          </div>
          <div class="col-sm-3">
            <select id="cpulimitUnit" class="form-control" [disabledCondition]="fromDeployment"
                    [(ngModel)]="cpulimitUnit" (ngModelChange)="updateLimits()" formControlName="cpulimitUnit">
              <option *ngFor="let unit of cpuUnits" [ngValue]="unit.value">{{unit.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 control-label">
            <label for="memoryrequest">Memory Request</label>
            <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
               title="Memory Resource Request"
               data-content="Specify the expected memory consumption of this container, measured in MByte / GByte. This value
                                will be used for scheduling the application on a node with enough memory resources.">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </div>
          <div class="col-sm-3">
            <input id="memoryrequest" type="number" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="memoryrequest" (ngModelChange)="updateRequests()" formControlName="memoryrequest"
                   required>
          </div>
          <div class="col-sm-3">
            <select id="memoryrequestUnit" class="form-control" [disabledCondition]="fromDeployment"
                    [(ngModel)]="memoryrequestUnit" (ngModelChange)="updateRequests()"
                    formControlName="memoryrequestUnit">
              <option *ngFor="let unit of memoryUnits" [ngValue]="unit.value">{{unit.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 control-label">
            <label for="memorylimit">Memory Limit</label>
            <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
               title="Memory Resource Limit"
               data-content="Specify the maximum memory consumption of this container, measured in MByte / GByte. Exceeding this value
                                might result in a restart of the application.">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </div>
          <div class="col-sm-3">
            <input id="memorylimit" type="number" class="form-control" [readonly]="fromDeployment"
                   [(ngModel)]="memorylimit" (ngModelChange)="updateLimits()" formControlName="memorylimit" required>
          </div>
          <div class="col-sm-3">
            <select id="memorylimitUnit" class="form-control" [disabledCondition]="fromDeployment"
                    [(ngModel)]="memorylimitUnit" (ngModelChange)="updateLimits()" formControlName="memorylimitUnit">
              <option *ngFor="let unit of memoryUnits" [ngValue]="unit.value">{{unit.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 control-label">
            <label for="volumePath">Shared Dir Path</label>
            <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
               title="Shared directory path"
               data-content="If shared directory is enabled, this controls the path where the directory will be mapped to.
                Leave empty if directory should not be mapped into this container.">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </div>
          <div class="col-sm-8">
            <input id="volumePath" type="text" class="form-control" [readonly]="fromDeployment || !volumeEnabled"
                   [(ngModel)]="volumePath" (change)="onVolumePathChange()"
                   formControlName="volumePath" trim>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
              <input id="stdin" type="checkbox" [disabledCondition]="fromDeployment"
                     [(ngModel)]="container.stdin" formControlName="stdin">
              <label for="stdin" class="control-label">Enable stdin</label>
              <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300" title="Stdin"
                 data-content="Whether this container should allocate a buffer for stdin in the container runtime.
                                    If this is not set, reads from stdin in the container will always result in EOF.">
                <span class="glyphicon glyphicon-info-sign"></span>
              </a>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">Ports</div>
          <div class="panel-body">

            <!-- healthcheck on first container only -->
            <div *ngIf="descriptor.podspec.containers[0] === container" class="panel panel-default">
              <div class="panel-body">
                <div formGroupName="healthcheck">
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <div class="checkbox">
                        <input id="useHealthCheck" type="checkbox" [disabledCondition]="fromDeployment"
                               [(ngModel)]="descriptor.useHealthCheck" (ngModelChange)="healthCheckUpdated()"
                               validateCheckboxInput input="{{formName + '.healthcheck.healthCheckPort'}}"
                               formControlName="useHealthCheck">
                        <label for="useHealthCheck" class="control-label">Enable healthcheck</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="healthCheckPort" class="control-label col-sm-4">Port</label>
                    <div class="col-sm-8">
                      <input id="healthCheckPort" type="number" class="form-control"
                             [readonly]="fromDeployment || !descriptor.useHealthCheck"
                             [(ngModel)]="healthCheckPort" (ngModelChange)="healthCheckUpdated()"
                             validatePort
                             validateCheckboxInput checkbox="{{formName + '.healthcheck.useHealthCheck'}}"
                             formControlName="healthCheckPort">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="healthCheckPath" class="control-label col-sm-4">Path</label>
                    <div class="col-sm-8">
                      <input id="healthCheckPath" class="form-control" [readonly]="fromDeployment || !descriptor.useHealthCheck"
                             [(ngModel)]="descriptor.healthCheckPath" formControlName="healthCheckPath">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="control-label col-sm-4">
                      <label for="healthCheckType">Type</label>
                      <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-delay="300"
                         title="Healthcheck Type"
                         data-content="simple: healthcheck only needs to respond with HTTP status 200.<br>
                                                    probe: healtcheck needs to respond with probe data in JSON format.">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                    </div>
                    <div class="col-sm-8">
                      <select id="healthCheckType" class="form-control" [disabledCondition]="fromDeployment || !descriptor.useHealthCheck"
                              [(ngModel)]="descriptor.healthCheckType" formControlName="healthCheckType">
                        <option *ngFor="let type of healthCheckTypes" [ngValue]="type.value">{{type.value}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <div class="checkbox">
                        <input id="ignoreHealthCheck" type="checkbox" [disabledCondition]="fromDeployment || !descriptor.useHealthCheck"
                               [(ngModel)]="descriptor.ignoreHealthCheck" formControlName="ignoreHealthCheck">
                        <label for="ignoreHealthCheck" class="control-label">Ignore healthcheck during
                          deployment</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <docker-port *ngFor="let port of container.ports, let index = index" [fromDeployment]="fromDeployment"
                         [container]="container" [port]="port" [healthCheckPortName]="healthCheckPortName"
                         [isNew]="isNew" [index]="index + 1" [parentForm]="form" [descriptor]="descriptor"
                         (deleted)="onPortDeleted(port)"></docker-port>

            <div *ngIf="!fromDeployment" class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-default" (click)="addPort()">Add Port</button>
                <br>
              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Environment Variables</div>
          <div class="panel-body">

            <docker-env *ngFor="let env of container.env"
                        [container]="container" [env]="env" [fromDeployment]="fromDeployment"
                        [isNew]="isNew" [index]="index + 1" [parentForm]="form"
                        (deleted)="onEnvDeleted(env)"></docker-env>

            <div *ngIf="!fromDeployment" class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-default" (click)="addEnv()">Add Environment Variable</button>
                <br>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="descriptor.podspec.containers.length > 1 && !fromDeployment" class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-default" (click)="removeThis()">Remove Container</button>
            <br>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

<div *ngIf="!container">
  Error: no container!
</div>
