<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="header">

  <form class="form-horizontal" role="form" [formGroup]="form">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group">
          <label for="header" class="control-label col-sm-4">Header</label>
          <div class="col-sm-8">
            <input id="header" type="text" class="form-control" placeholder="e.g. X-Frame-Options"
                   [(ngModel)]="header.Header" formControlName="header" trim required [readonly]="fromDeployment">
          </div>
        </div>

        <div class="form-group">
          <label for="value" class="control-label col-sm-4">Value</label>
          <div class="col-sm-8">
            <input id="value" type="text" class="form-control" placeholder="e.g. SAMEORIGIN"
                   [(ngModel)]="header.Value" formControlName="value" trim required [readonly]="fromDeployment">
          </div>
        </div>

        <div *ngIf="!fromDeployment" class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-default" (click)="removeThis()">Remove header</button>
          </div>
        </div>

      </div>
    </div>

  </form>


</div>

<div *ngIf="!header">
  Error: no header!
</div>
