<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div *ngIf="webhook">

  <form role="form" [formGroup]="form">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group col-sm-12">
          <label for="key">URL</label>
          <input id="key" type="text" class="form-control"
                 [(ngModel)]="url" formControlName="webhookkey" required readonly>
        </div>

        <div class="form-group col-sm-12">
          <label for="description">Description</label>
          <input id="description" type="text" class="form-control" [readonly]="fromDeployment"
                 [(ngModel)]="webhook.description" formControlName="description" trim>
        </div>

        <div *ngIf="!fromDeployment" class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-default" (click)="removeThis()">Remove Webhook</button>
          </div>
        </div>

      </div>
    </div>
  </form>


</div>

<div *ngIf="!webhook">
  Error: no Webhook!
</div>
