<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div class="row">
  <div class="col-sm-6">
    You can login to your Docker Hub account. When you do that, you
    get auto completion when choosing Docker images and tags for your deployment.
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-6">
    <form (ngSubmit)="isDockerLoggedIn ? onDockerLogout() : onDockerLogin()" class="form-horizontal" role="form"
          [formGroup]="form">

      <div class="panel panel-default">
        <div class="panel-heading">Docker Hub</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="dockerUser" class="control-label col-sm-4">Username (not email)</label>
            <div class="col-sm-8">
              <input id="dockerUser" type="text" class="form-control" formControlName="name" trim
                     [readonly]="isDockerLoggedIn">
            </div>
          </div>
          <div *ngIf="!isDockerLoggedIn" class="form-group">
            <label for="dockerPassword" class="control-label col-sm-4">Password</label>
            <div class="col-sm-8">
              <input id="dockerPassword" type="password" class="form-control" formControlName="password"
                     [readonly]="isDockerLoggedIn">
            </div>
          </div>

          <div class="col-sm-offset-4 col-sm-8">
            <button *ngIf="!isDockerLoggedIn" type="submit" class="btn btn-default">Log In</button>
            <button *ngIf="isDockerLoggedIn" type="submit" class="btn btn-default">Log Out</button>
          </div>

        </div>
      </div>

    </form>
  </div>
</div>
