<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:;">DeploymentCtl</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/listApplications" routerLinkActive="menuactive">Applications</a></li>
      <li><a routerLink="/listSecrets" routerLinkActive="menuactive">Secrets</a></li>
      <li><a routerLink="/dockerHub" routerLinkActive="menuactive">Docker Hub</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="dockerUser"><a href="javascript:;">Docker Hub User: {{dockerUser}}</a></li>
      <li *ngIf="userInfo"><a href="javascript:;">DeploymentCtl User: {{userInfo.email}}</a></li>
      <li><a href="javascript:;" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>

<spinner></spinner>

<simple-notifications [options]="notificationoptions"></simple-notifications>
<breadcrumbs></breadcrumbs>

<router-outlet></router-outlet>

