/**
@license Licensed under Apache License v2. See LICENSE for more information.
*/
body {
  background: #E3E9EA;
  color: #32327B;
}

input.ng-valid:not([readonly]) {
  border-left: 5px solid #42A948 !important; /* green */
}

input.ng-invalid:not([readonly]) {
  border-left: 5px solid #a94442 !important; /* red */
}

.navbar {
  background: linear-gradient(#32327B, #00AAB5);
}

.navbar-brand {
  color: #FFF !important;
}

.navbar-nav > li > a {
  color: #BBB !important;
}

.navbar-nav > li > a.menuactive {
  color: #FFF !important;
}

.panel-default > .panel-heading {
  color: #32327B;
}

.panel-default {
  color: #000;
}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}

.panel-heading a.collapsed:after {
  content:"\e080";
}

.popover {
  width: 300px;
}

.glyphicon-spin {
  -webkit-animation: spin 1500ms infinite linear;
  animation: spin 1500ms infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}
