<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div class="panel panel-default">

  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" class="collapsed" href="#collapse-ns-{{namespaceSecrets.namespace}}">
        Namespace: {{namespaceSecrets.namespace}}
      </a>
    </h5>
  </div>

  <div id="collapse-ns-{{namespaceSecrets.namespace}}" class="panel-collapse collapse">

    <div class="panel-body">
      <secret *ngFor=" let secret of namespaceSecrets.secrets" [namespaceSecrets]="namespaceSecrets"
              [secret]="secret"></secret>
      <button type="button" class="btn btn-default" (click)="addOpaqueSecret()">Add Opaque Secret</button>
      <button type="button" class="btn btn-default" (click)="addImagePullSecret()">Add Image Pull Secret</button>
      <br>
    </div>

  </div>
</div>
