<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<form class="form-horizontal" role="form" [formGroup]="form">
  <div class="panel panel-default">
    <div class="panel-body">


      <div *ngIf="dataWrapper.isNew && !dataWrapper.isDocker" class="form-group">
        <label for="inputType" class="control-label col-sm-2">Value Type</label>
        <div class="col-sm-4">
          <select id="inputType" class="form-control"
                  [(ngModel)]="inputType" formControlName="inputType" (ngModelChange)="onInputTypeChanged()">
            <option *ngFor="let type of inputTypes" [value]="type">{{type}}</option>
          </select>
        </div>
      </div>


      <div *ngIf="!dataWrapper.isDocker" class="form-group">
        <label for="key" class="control-label col-sm-2">Key</label>
        <div class="col-sm-4">
          <input id="key" name="key" type="text" class="form-control" [readonly]="!dataWrapper.isNew"
                 [(ngModel)]="dataWrapper.key"
                 validateDns allowHashAndNumber="false"
                 validateSecretDataKey [data]="dataWrappers"
                 formControlName="key" required trim>
          <div *ngIf="form.controls.key.errors && form.controls.key.errors['validateDns']" class="alert alert-danger">
            not a DNS compatible name (lowercase letters only, no leading numbers, no leading or trailing dashes)
          </div>
          <div *ngIf="form.controls.key.errors && form.controls.key.errors['validateSecretDataKey']"
               class="alert alert-danger">
            Key must be unique!
          </div>
        </div>
      </div>


      <div *ngIf="!dataWrapper.isDocker" class="form-group">
        <label for="value" class="control-label col-sm-2">Value</label>
        <div class="col-sm-4">
          <input id="value" type="text" class="form-control" [readonly]="!dataWrapper.isNew"
                 [(ngModel)]="tmpValue" formControlName="value" required>
        </div>
      </div>

      <div *ngIf="dataWrapper.isDocker" class="form-group">
        <label for="mail" class="control-label col-sm-2">Docker Email</label>
        <div class="col-sm-4">
          <input id="mail" type="text" class="form-control" [readonly]="!dataWrapper.isNew"
                 [(ngModel)]="tmpDockerEmail" formControlName="mail" required trim>
        </div>
      </div>
      <div *ngIf="dataWrapper.isDocker" class="form-group">
        <label for="auth" class="control-label col-sm-2">Docker Auth<br></label>
        <div class="col-sm-4">
          <input id="auth" type="text" class="form-control" [readonly]="!dataWrapper.isNew"
                 placeholder="find it in e.g. ~/.docker/config.json"
                 [(ngModel)]="tmpDockerAuth" formControlName="auth" required trim>
        </div>
      </div>

      <div class="col-sm-offset-2 col-sm-4">
        <button *ngIf="dataWrapper.isNew && !dataWrapper.isDocker" type="button" class="btn btn-default"
                (click)="delete()">Cancel
        </button>
        <button *ngIf="!dataWrapper.isNew && !dataWrapper.isDocker" type="button" class="btn btn-default"
                (click)="delete()">Remove
        </button>
      </div>

    </div>
  </div>
</form>
