<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<form class="form-horizontal" role="form" [formGroup]="form">
  <div class="panel panel-default">

    <div *ngIf="!isNew" class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" class="collapsed" href="#collapse-secret-{{secret.metadata.namespace}}-{{secret.metadata.name}}">
          Secret: {{secret.metadata.name}}
        </a>
      </h5>
    </div>

    <div *ngIf="isNew" class="panel-heading">
      <div class="form-group">
        <label for="name" class="control-label col-sm-2">Secret Name:</label>
        <div class="col-sm-10">
          <input id="name" name="name" type="text" class="form-control"
                 [(ngModel)]="secret.metadata.name"
                 validateDns allowHashAndNumber="false"
                 validateSecretName [secrets]="namespaceSecrets"
                 formControlName="name" required trim>
          <div *ngIf="form.controls.name.errors && form.controls.name.errors['validateDns']" class="alert alert-danger">
            not a DNS compatible name (lowercase letters only, no leading numbers, no leading or trailing dashes)
          </div>
          <div *ngIf="form.controls.name.errors && form.controls.name.errors['validateSecretName']"
               class="alert alert-danger">
            Secret name must be unique!
          </div>
        </div>
      </div>
    </div>

    <div id="collapse-secret-{{secret.metadata.namespace}}-{{secret.metadata.name}}" class="panel-collapse" [ngClass]="{'collapse': !isNew}">
      <div class="panel-body">
        <secret-data *ngFor="let dataWrapper of dataWrappers" [dataWrapper]="dataWrapper" [dataWrappers]="dataWrappers"
                     [parentControls]="form" [saveNotifier]="saveNotifier"
                     (deleteNotifier)="onDataDeleted(dataWrapper)"></secret-data>
        <span *ngIf="!isNew && !isDocker && !isDirty">
                  <button type="button" class="btn btn-default" (click)="addData()">Add Data</button><br><br>
              </span>
        <span *ngIf="isNew || isDirty">
                  <button type="submit" [disabled]="!form.valid" class="btn btn-danger"
                          (click)="save()">Save Secret</button>
              </span>
        <span *ngIf="!isNew">
                  <button type="button" class="btn btn-default" (click)="delete()">Delete Secret</button>
              </span>
      </div>
    </div>

  </div>
</form>
