<!--
@license Licensed under Apache License v2. See LICENSE for more information.-->
<div>

  <namespace *ngFor="let namespaceSecrets of allNamespaceSecrets" [namespaceSecrets]="namespaceSecrets"></namespace>

</div>
